<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>TP2 - Visualização de Dados</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="c3/c3.min.js"></script>

    <link href="c3/c3.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link href="/css/geral.css" rel="stylesheet"></link>

</head>
  <body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"
                href="/">
              Início
              <span class="sr-only">
                (current)
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                href="/visualizacao1">
              Visualização 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                href="/visualizacao2">
              Visualização 2
            </a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        Trabalho Prático (Visualização de Dados) - Autora: Amanda Fernandes Pereira
      </span>
    </nav>

    <div id="index" class="container">
      <br>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h1>Eleições 2014</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>
            Trabalho desenvolvido por <b>Amanda Fernandes Pereira</b> para a
            disciplina de Visualização de Dados 2018/2.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>
            Foram desenvolvidas duas visualizações que podem ser acessadas pelos
            <i>links</i> disponíveis no canto superior esquerdo da tela.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>
            A <a href="/visualizacao1"><b>Visualização 1</b>
            </a> apresenta a distribuição dos votos dos candidatos à presidência
            entre os estados do Brasil.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>
            A <a href="/visualizacao2"><b>Visualização 2</b>
            </a> apresenta a diferença de votos entre os turnos, obtidos
            pelos candidatos à presidência que participaram dos dois turnos.
          </p>
        </div>
      </div>
    </div>

	</body>
</html>
