<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>TP2 - Visualização de Dados</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="c3/c3.min.js"></script>

    <link href="c3/c3.css" rel="stylesheet">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      crossorigin="anonymous">
    <link href="/css/geral.css" rel="stylesheet"></link>

</head>
  <body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link"
                href="/">
              Home
              <span class="sr-only">
                (current)
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                href="/visualizacao1">
              Visualization 1
            </a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        Data Visualization - Authors: Amanda, Fabrício, Lucas e Oto
      </span>
    </nav>

    <div id="index" class="container">
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1>Conflitos armados desde 1501</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>
            Trabalho desenvolvido para a disciplina de Visualização de Dados
            2018/2.
          </p>
          <p>Grupo: Amanda, Fabrício, Lucas e Oto</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <!-- <p>
            Foram desenvolvidas duas visualizações que podem ser acessadas pelos
            <i>links</i> disponíveis no canto superior esquerdo da tela.
          </p> -->
          <p>
            Foi desenvolvida uma visualização que pode ser acessada pelo
            <i>link</i> disponível no canto superior esquerdo da tela. Ela
            apresenta um <i>ranking</i> dos países com mais relacionamentos
            (representados por arestas no grafo abaixo) nos últimos 500 anos.
            Esssa visualização indica a quantidade de aliados e inimigos nos
            conflitos nos quais o país esteve envolido nesse período.
          </p>
          <img id="grafo" src="img/grafo.png"/>
        </div>
      </div>
    </div>

	</body>
</html>
